<h1> Upload Form </h1>
<form action="/show_file" method="POST" enctype="multipart/form-data">
       <p> 
       		<label for = "file"> File: </label>
       		<input type = "file" name = "file">
       	</p>
   <p>
    <input name "commit" type = "submit" value= "Upload"/>
    </p>
    </form>
