<!DOCTYPE html>
<html>
<head>
	<title>Movie Lovers</title>
</head>
<body>

	<form action="/search" method="POST">
	       Movie Search: <input name="search_word" type="text" /> <br>
	       <br>
	   	<input type="submit" value="SEARCH!">
	</form>
	<br>

	<form action="/random" method="POST">
	   	<input type="submit" value="RANDOM!">
	</form>
</body>
</html>