<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" type="text/css" href="results.css">
</head>
<body>
	<% if @search.empty? %>
		<h1> Here is a random selection of my favorite movies. </h1>
	<% else %>
		<h1> Here are some movies that match your search term: "<%=@search %>" </h1>
	<% end %>
	
	<div id = "container">
		<form action="/test" method="get">
	   	<input type="submit" value="PLAY GAME" class="game"> </form> <br> <br>
		<% @movie_posters.each_with_index do |movie,i| %> 
			<img src="<%= movie.poster %>" class="poster">
		<% end %>

	
	</div>
</body>
</html>