<!DOCTYPE html>
<html>
<head>
	<title>Logged In!</title>
</head>
<body>
	<header> <a href = "/">home</a> </header>
	<h2> You are currently logged in to the system </h2>
	<form action="/log_out" method="get">
	 <input type="submit" value="LOG OUT"></form>
</body>
</html>