<!DOCTYPE html>
<html>
<head>
	<title>New Home</title>
</head>
<body>
	Hi <%= @user %>! <br>
	<h2><a href = "/my_tasks">To Do List </a> <br>
	<a href = "/done_list"> Completed Tasks </a> <br>
	<a href = "/log_out">log out</a><br> </h2>
</body>
</html>